<app-header></app-header>

<div class="services-container">
  <h2 style="text-align: center;">Our Services</h2>

  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
  </div>

  <div *ngIf="!loading && services.length" class="services-grid">
    <div *ngFor="let service of services" class="service-card">
      <div class="service-card-image">
        <img [src]="service.image" [alt]="service.name">
      </div>
      <div class="service-card-content">
        <h3>{{ service.name }}</h3>
        <p class="price">{{ service.price }} EGP</p>
        <p class="duration">Duration: {{ service.duration }} mins</p>
        <p class="instructions" *ngIf="service.instructions">
          <strong>Instructions:</strong> {{ service.instructions }}
        </p>
       <a [routerLink]="['/book', service.id]" routerLinkActive="active" class="btn btn-primary">Book Service</a>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !services.length" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>

<app-footer></app-footer>
