<app-header></app-header>
<div class="hero-slider">
  <!-- Human Section -->
  <div class="hero-section active" style="background-image: url('https://img.freepik.com/free-vector/group-doctors-care-covid-19_24877-62369.jpg?ga=GA1.1.750494425.1738695196&semt=ais_hybrid&w=740');">
    <div class="hero-content">
      <h1 class="hero-title"><i class="fas fa-heartbeat"></i> Our Services Are Always Here For You </h1>
      <p class="hero-subtitle">Find the best doctors for your health needs with our comprehensive directory.</p>
      <div class="hero-buttons">
        
        <button class="btn btn-services" (click)="navigateToServices()"><i class="fas fa-search"></i> Find Service</button>
      </div>
    </div>
  </div>
</div>

<div class="services-container">
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
  </div>

  <div *ngIf="!loading && services.length" class="services-grid">
    <div *ngFor="let service of services" class="service-card">
      <div class="service-card-image">
        <img [src]="'http://127.0.0.1:8000/' + service.image" alt="Service Image" />
      </div>
      <div class="service-card-content">
        <h3>{{ service.name }}</h3>
        <p class="price">{{ service.price }} EGP</p>
        <p class="duration">Duration: {{ service.duration }} mins</p>
        <p class="instructions" *ngIf="service.instructions">
          <strong>Instructions:</strong> {{ service.instructions }}
        </p>
       <a [routerLink]="['/book', service.id]" routerLinkActive="active" class="btn btn-primary">Book Service</a>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !services.length" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>

<app-footer></app-footer>
