<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo">
      <i class="fas fa-stethoscope fa-2x"></i>
      <span>Doctor Panel</span>
    </div>
    <ul>
      <li><a routerLink="/doctor-profile"><i class="fas fa-user-md"></i> My Profile</a></li>
      <li><a routerLink="/doctor-appointments"><i class="fas fa-calendar-check"></i> Appointments</a></li>
      <li><a routerLink="/doctor-patient"><i class="fas fa-users"></i> Patients</a></li>
      <li><a routerLink="/doctor-reports"><i class="fas fa-file-medical-alt"></i> Reports</a></li>
      <li><a routerLink="/add-post"><i class="fas fa-pen-to-square"></i> Add Post</a></li>
      <li><a routerLink="/doctor-blog"><i class="fas fa-newspaper"></i> Blog Corner</a></li>
    </ul>
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </aside>

  <main class="main-content">
    <div class="welcome-section">
      <img *ngIf="doctorImage" [src]="doctorImage" alt="Doctor Profile" class="doctor-profile-img">
      <i *ngIf="!doctorImage" class="fas fa-user-circle doctor-profile-icon"></i>
      <h1>Welcome {{ getFormattedName() }}</h1>
    </div>
    <div class="cards">
      <div class="card">
        <i class="fas fa-user-md fa-2x"></i>
        <h3>Profile</h3>
        <p>Manage your information</p>
      </div>
      <div class="card">
        <i class="fas fa-calendar-check fa-2x"></i>
        <h3>Appointments</h3>
        <p>View your schedule</p>
      </div>
      <div class="card">
        <i class="fas fa-users fa-2x"></i>
        <h3>Patients</h3>
        <p>Manage your patients</p>
      </div>
      <div class="card">
        <i class="fas fa-file-medical-alt fa-2x"></i>
        <h3>Reports</h3>
        <p>Access reports and notes</p>
      </div>
      <div class="card">
        <i class="fas fa-pen-to-square fa-2x"></i>
        <h3>Add Post</h3>
        <p>Write and share medical posts</p>
      </div>
      <div class="card">
        <i class="fas fa-newspaper fa-2x"></i>
        <h3>Blog </h3>
        <p>Your Published Posts</p>
      </div>
    </div>
  </main>
</div>