<!-- <div *ngIf="doctors.length > 0; else noDoctors">
    <div *ngFor="let doc of doctors; trackBy: trackDoctor" class="doctor-card">
      <div class="doctor-info">
        <img *ngIf="doc.image" [src]="doc.image" alt="{{ doc.name }}" class="doctor-image">
        <div class="doctor-details">
          <h3>{{ doc.name }}</h3>
          <p><strong>Specialization:</strong> {{ doc.specialization }}</p>
          <p><strong>Clinic:</strong> {{ doc.clinic?.name }}</p>
          <p><strong>Role:</strong> {{ doc.role }}</p>
          <p><strong>Phone:</strong> {{ doc.phone }}</p>
          <p><strong>Address:</strong> {{ doc.address }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noDoctors>
    <p>No human doctors found.</p>
  </ng-template>
   -->