<div class="dashboard-container">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <main class="main-content">
        <!-- Main Header -->
        <app-main-header></app-main-header>

        <!-- Default Content (Patient Info) - Show only on root route -->
        <div *ngIf="isRootRoute">
            <app-patient-details></app-patient-details>
            <!-- <app-patient-vitals></app-patient-vitals> -->
            <app-patient-history-table></app-patient-history-table>
            <app-bookedservice></app-bookedservice>
        </div>

        <!-- Area for Child Routes (like Settings, Orders) -->
        <router-outlet></router-outlet>

    </main>
</div>
