<div class="sidebar">
  <div class="logo">
    <i class="fas fa-heartbeat"></i>
    <span>MedicalHub</span>
  </div>

  <nav class="menu">
    <ul>
      <li *ngFor="let item of menuItems">
        <!-- Single menu item -->
        <a *ngIf="!item.children" 
           [routerLink]="item.route"
           routerLinkActive="active"
           class="menu-item">
          <i [class]="item.icon"></i>
          <span>{{ item.title }}</span>
        </a>

        <!-- Menu item with submenu -->
        <div *ngIf="item.children" class="submenu-container">
          <div class="menu-item" 
               [class.expanded]="isMenuExpanded(item.title)"
               (click)="toggleMenu(item.title)">
            <i [class]="item.icon"></i>
            <span>{{ item.title }}</span>
            <i class="fas" [class.fa-chevron-down]="!isMenuExpanded(item.title)" 
               [class.fa-chevron-up]="isMenuExpanded(item.title)"></i>
          </div>

          <!-- Submenu items -->
          <ul class="submenu" [class.expanded]="isMenuExpanded(item.title)">
            <li *ngFor="let subItem of item.children">
              <a [routerLink]="subItem.route" 
                 routerLinkActive="active"
                 class="submenu-item">
                <i [class]="subItem.icon"></i>
                <span>{{ subItem.title }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div> 