<div class="edit-clinic-page">
  <h2>Edit Clinic</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Image Section -->
    <div class="image-section">
      <div class="image-container">
        <div class="profile-image" *ngIf="!clinic?.image">
          <i class="fas fa-hospital"></i>
        </div>
        <img *ngIf="clinic?.image" [src]="getImageUrl(clinic?.image)" alt="Clinic's Image" class="profile-image">
        <div class="image-upload">
          <label for="image" class="upload-label">
            <i class="fas fa-camera"></i>
            Change Image
          </label>
          <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="clinic.name" name="name" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="clinic.description" name="description" required></textarea>
    </div>
    <div class="form-actions">
      <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
      <button type="submit" class="submit-button">Update Clinic</button>
    </div>
  </form>
</div>
